# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
hy_query = {
    "scores.Hygiene": 20
    }
hy_score_20 = establishments.find(hy_query)
# Use count_documents to display the number of documents in the result
hy_20_count = establishments.count_documents(hy_query)
print(hy_20_count)
# Display the first document in the results using pprint
pprint(hy_score_20[0])

In [ ]:
# Convert the result to a Pandas DataFrame
hy_df = pd.DataFrame(hy_score_20)
# Display the number of rows in the DataFrame
print(len(hy_df))
# Display the first 10 rows of the DataFrame
hy_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
lon_query = {
    "LocalAuthorityName": "London",
    "RatingValue": {"$gte": 4}
}

# Use count_documents to display the number of documents in the result
lon_count = establishments.count_documents(lon_query)
print(lon_count)
# Display the first document in the results using pprint
lon_result = establishments.find(query)
pprint(lon_result[0])

In [ ]:
# Convert the result to a Pandas DataFrame
lon_df = pd.DataFrame(lon_result)
# Display the number of rows in the DataFrame
print(len(lon_df))
# Display the first 10 rows of the DataFrame
lon_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

In [ ]:
# Convert result to Pandas DataFrame
geo_results = pd.DataFrame(geo_result)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match = {
    "$match": {"scores.Hygiene": 0}
    }
# 2. Groups the matches by Local Authority
group_match = {
    '$group': {'_id': "$LocalAuthorityName", 
    'count': { '$sum': 1 }}
                          }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 , '_id': 1}}
# Print the number of documents in the result

# Print the first 10 results
pprint(results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
results_df = pd.Dataframe(results)
# Display the number of rows in the DataFrame
len(results_df)
# Display the first 10 rows of the DataFrame
results_df.head(10)